<section class="featured">
    <div class="container">
      <h2 class="section-title">Featured Work</h2>
      <div class="gallery-grid">
        <div class="gallery-item">
          <div class="gallery-image">
            <a href="/images/gallery/alterations/IMG_3460.jpg">
              <img src="/images/gallery/alterations/IMG_3460.jpg" alt="Special Occasion" class="gallery-image">
            </a>
          </div>
          <div class="gallery-caption">Special Occasion</div>

        <div class="gallery-item">
          <div class="gallery-image">
            <a href="/images/gallery/bridal/SavanahA-0072.jpg">
              <img src="/images/gallery/bridal/SavanahA-0072.jpg" alt="Custom Bustle" class="gallery-image">
            </a>
          </div>
          <div class="gallery-caption">Custom Bustle</div>
        </div>
        <div class="gallery-item">
          <div class="gallery-image">
            <a href="/images/gallery/alterations/1534574339164211092.png">
              <img src="/images/gallery/alterations/1534574339164211092.png" alt="Bridal Attire" class="gallery-image">
            </a>
          </div>
          <div class="gallery-caption">Mother of the bride</div>
        </div>
      </div>
      <div class="text-center">
        <a href="/gallery/" class="btn btn-outline">View Full Gallery</a>
      </div>
    </div>
  </section>
